ex00/.btree_create_node.c.swp
ex01/.btree_apply_prefix.c.swp
ex02/.btree_apply_infix.c.swp
ex03/.btree_apply_suffix.c.swp
ex04/.btree_insert_data.c.swp
ex05/.btree_search_item.c.swp
ex06/.btree_level_count.c.swp
ex07/.btree_apply_by_level.c.swp
**/main.c
**/a.out
**/ft_btree.h.gch
ex01/btree_create_node.c
ex02/btree_create_node.c
ex03/btree_create_node.c
ex04/btree_apply_prefix.c
ex05/btree_create_node.c
ex06/btree_create_node.c
